.item {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-left: 10px;
}

.btn {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-left: 10px;
}