.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}
.gray {
    background: #959995;
}

.gray-text {
    color: #2faab2;
}