
.wrapper {
    display: grid;
    grid-template-areas:
            'a n'
            'a m'
            'a t';
    grid-template-rows: 30px 30px 30px;
    grid-template-columns: 80px 220px;
    column-gap: 30px;

}

.avatar img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: white;
    object-fit: cover;
}

.avatar {
    grid-area: a;
}

.name {
    grid-area: n;
    background-color: lavender;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px 10px 10px 5px ;
}

.message {
    grid-area: m;
    font-style: italic;
    background-color: lavender;
    padding: 5px;
}



.time {
    grid-area: t;
    position: relative;
    background: lavender;
    border-bottom-right-radius: 10px;
    padding: 5px 10px 5px 5px ;
    text-align: end;
    color: #000;
}

.time:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 25px solid transparent ;
    border-right: 20px solid transparent;
    border-top: 30px solid  transparent;
    border-bottom: 20px solid lavender;
    border-bottom-left-radius: 10px;
    left: -15px;
    bottom: 0;
}