.container {
    display: flex;
    padding: 5px 10px;
    border-bottom: 1px solid cadetblue ;
    background-color: gray;
    margin-left: 10px;
    margin-right: 10px;

}

.container span {
    width: 90%;
    color: white;
}


.wrapp {
    background-color: gray;
    max-width: 300px;
    margin-right: 100px;
    border-radius: 10px;
}

.btnWrapp {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}


