.superInput {
    margin: 10px;
    background: inherit;
    height: 20px;
    width: 300px;
    color: #5D6F58;
    border: none;
    border-bottom: #5D6F58 solid 1px;
}

.superInput:focus {
    outline: none;
}


.errorInput {
    position: relative;
    margin: 10px;
    background: inherit;
    height: 20px;
    width: 300px;
    outline: none;
    border:none;
    border-bottom: rgba(255, 0, 9, 0.82) inset 1px ;
}


.errorInput:focus {
    outline: none;
}

.error {
    color: red;
    height: 40px;
    margin-left: 10px;
    font-size: medium;
}