.superInput {
    margin: 10px;
    background: lightslategrey;
    height: 20px;
    width: 300px;
    color: white;
    border-radius: 3px;
    box-shadow: 71px 10px 62px -15px rgba(0, 0, 0, 0.64) inset;
    border: none;
    border-bottom: #5D6F58 solid 2px;
}

.superInput:focus {
    outline: none;
}


.errorInput {
    margin: 10px;
    background: #ffffff;
    height: 20px;
    width: 300px;
    border-radius: 3px;
    outline: none;
    box-shadow: 10px -91px 59px -56px rgba(0, 0, 0, 0.75) inset;
    border: none;
    border-bottom: rgba(255, 0, 9, 0.82) solid 1px;
    border-top: rgba(255, 0, 9, 0.82) solid 1px;
}

.errorInput:focus {
    outline: none;
}

.error {
    color: red;
    height: 40px;
    margin-left: 10px;
    font-size: medium;
}