.superInput {
    margin: 10px;
    background: inherit;
    height: 20px;
    width: 300px;
    color: white;
    border: none;
    border-bottom: #5D6F58 solid 1px;
}

.superInput:focus {
    outline: none;
}


.errorInput {
    margin: 10px;
    background: inherit;
    height: 20px;
    width: 300px;
    outline: none;
    border:none;
    border-bottom: rgba(255, 0, 9, 0.82) solid 2px;

}
.errorInput:focus {
    outline: none;
}

.error {
    color: red;
    height: 40px;
    margin-left: 10px;
    font-size: medium;
}